html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #4a5f65 , #4b4557);
  color: #e7e0f2;
  font-weight: 300;
}

@font-face {
	font-family: LoveloLine;
	src: url(./assets/LoveloLine.otf);
}
@font-face {
	font-family: Lovelo;
	src: url(./assets/Lovelo_Black.otf);
}
@font-face {
	font-family: LoveloBold;
	src: url(./assets/Lovelo_Bold.otf);
}

#grid {
  float: none;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
}

#bus, #weather, #news {
  padding: 2%;
  padding-top: 1%;
  width: 38vw;
  max-height: 460px;
}

#bus, #news {
  width: 31vw;
  padding-top: 2%;
}

#bus {
  padding-right: 1%;
  max-height: 100%;
  overflow: scroll;
}

#weather {
  padding-top: 1%;
  max-height: 100%;
  overflow: scroll;
}

.grid-icon {
  margin: auto;
  display: block;
  width: 8vw;
  opacity: 0.7;
}

.green-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 114%;
  color: #70c8ba;
  margin-bottom: 4%;
  margin-top: 6%;
  text-align: center;
  font-weight: 500;
}

#hjalmar {
  margin-top: 8%;
}

/* ------   BUS  ------ */

.next-trips {
  width: 100%;
}

.bus-trip {
  font-family: 'Montserrat', sans-serif;
  float:none;
  display:inline-flex;
  font-size: 123%;
}

.bus-info {
  margin-bottom: 8%;
}

.bus-line {
  font-weight: 600;
  opacity: 1;
  font-size: 120%;
}

.bus-dir {
  font-size: 60%;
  margin-top: -1px;
  font-weight: 300;
}

.bus-time {
  margin-left: auto;
  margin-bottom: 5%;
  display: inline-flex;
  justify-content:space-between;
}

.bus-dep-time {
  font-size: 90%;
  vertical-align: baseline;
  display: flex;
}

.bus-dep-time span {
  align-self: flex-end;
  margin-bottom: 15px;
}

.bus-time-left {
  padding-left: 20px;
  color: #f1eaff;
  display: flex;
  vertical-align: baseline;
  min-width: 25px;
  margin-bottom: 12px;
}

.bus-time-left>div {
  align-self: flex-end;
  font-size: 150%;
  font-weight: 500;
  min-width: 37px;
}


/*-------- WEATHER ----------- */

#clock {
  font-size: 445%;
  font-family: 'Montserrat', sans-serif;
  margin: 1.3vh auto;
  text-align: center;
  color: #70c8ba;
  margin-top: 0;
  font-weight: 500;
}

#currently-forcast {
  display: table;
  margin: 0 auto;
  font-size: 140%;
}

#currently-forcast .symb {
  display:table-cell;
  width: 11vw;
  opacity: 0.7;
}

#currently-forcast .info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3vw;
}

#currently-forcast .temp {
  display: block;
}

#currently-forcast .temp h1 {
  font-weight: 400;
  display: table-cell;
  color: #f1eaff;
}

#currently-forcast .windspeed {
  font-size: 80%;
  opacity: 0.7;
}

.celsius {
  font-size: 50%;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}

#hourly-forcasts {
  margin-top: 5.5vh;
  font-size: 105%;
  display:flex;
  width: 38vw;
}

.hourly-forcast {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.hourly-forcast .time {
  margin: 0 auto;
  display: inline-block;
  color: #70c8ba;
  font-weight: 400;
}

.hourly-forcast .symb-info {
  display: table;
  margin: 0 auto;
}

.hourly-forcast .symb {
  display:table-cell;
  width: 8vw;
  opacity: 0.7;
}

.hourly-forcast .info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2vw;
}

.hourly-forcast .temp {
  display: block;
}

.hourly-forcast .temp h1 {
  font-weight: 400;
  display: table-cell;
  color: #f1eaff;
}

.hourly-forcast .windspeed {
  font-size: 80%;
  opacity: 0.7;
  text-align:left;
}

#daily-forcasts {
  margin-top: 5vh;
  font-size: 80%;
  display:flex;
  width: 38vw;
}

.daily-forcast {
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 25%;
}

.daily-forcast .day {
  margin: 0 auto;
  display: inline-block;
  color: #70c8ba;
  font-weight: 400;
  font-size: 110%;
}

.daily-forcast .symb-info {
  display: block;
  margin: 0 auto;
}

.daily-forcast .symb {
  display:inline-block;
  width: 6.4vw;
  opacity: 0.7;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.daily-forcast .info {
  display: block;
  vertical-align: middle;
}

.daily-forcast .temp {
  display: block;
}

.daily-forcast .temp h1 {
  font-weight: 500;
  display: inline;
  font-size: 175%;
  color: #f1eaff;
}

.daily-forcast .windspeed {
  font-size: 90%;
  opacity: 0.7;
}


/* --------  NEWS  --------- */
#news {
  max-height: 100%;
  overflow: scroll;
}

#news>.green-header {
  margin-bottom: 0;
}

.article .title {
  margin: 6.5% 0;
  font-weight: 400;
  font-size: 100%;
  color: #c0ffff;
}

.article p {
  margin: 0.3em 0;
}

.article .desc {
  font-size: 85%;
  color: #f0e9fe;
}

.article .source {
  font-size: 70%;
  color: #ccc;
}
